[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
ansible-generator = "*"
openshift = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[scripts]
create = 'ansible-playbook site.yml --extra-vars "namespace=nemo"'
delete = "ansible-playbook site.yml --extra-vars 'namespace=nemo state=absent"
